
.prepare-meal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  
  
  position: flex;
}

.prepare-meal-input-rectangle4 {
  border-radius: 20px;
  background: #ffffff;
  width: 100%;
  max-width: 1000px; 
  min-height: 150px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 24px;
  padding: 30px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.diet-info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.diet-restrictions-box {
  flex: 1; 
  padding-right: 20px;
}

.diet-restrictions-box h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.height-weight-preferences {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.height-box, .weight-box {
  display: flex;
  flex-direction: column;
}

.height-box h3, .weight-box h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.height-input, .weight-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.preferences-box h3 {
  font-size: 20px;
  font-weight: bold;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-list label {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px; 
}

.checkbox-list input {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.prepare-meal-text34, .prepare-meal-text33 {
  margin-top: 10px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.location-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.prepare-meal-input {
  border-radius: 20px;
  background: #ffffff;
  width: 100%;
  max-width: 800px; 
  min-height: 800px;
  padding: 30px; 
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px; 
}

.side-by-side-boxes {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  gap: 20px;
}


.main-result-box {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.right-side-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start; 
}

.location-input-box {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.location-output-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  width: 100%;
  min-height: 705px; 
}

.location-output-box .output-content {
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}

.prepare-meal-input-text {
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}

.generate-button {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 40px; 
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 0px; 
  width: 100%;
}

.generate-button:hover {
  background-color: lightgray;
}

.send-email-button {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 15px; 
  width: 100%; 
}

.send-email-button:hover {
  background-color: lightgray;
}

.send-email-button-text, .generate-button-text {
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 768px) {
  
  .diet-info-box {
    flex-direction: column; 
    align-items: center;
  }

  .diet-restrictions-box, .height-weight-preferences {
    width: 100%;
    padding: 0;
  }

  .prepare-meal-input-rectangle4,
  .prepare-meal-input {
    width: 100%;
  }

  .generate-button {
    width: 100%;
  }

  .prepare-meal-text38 {
    font-size: 16px;
  }

  .side-by-side-boxes {
    flex-direction: column; 
  }

  .main-result-box, .right-side-container {
    width: 100%;
  }

}
