
.prepare-meal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative; 
  background-color: #f6d6d9;
}

.prepare-meal-input-rectangle4 {
  border-radius: 20px;
  background: #ffffff;
  width: 100%;
  opacity: 0.7;;
  max-width: 1000px; 
  min-height: 150px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 24px;
  padding: 30px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.option-button {
  width: 100%;              
  padding: 15px;            
  background-color: #f2f2f2; 
  border: 1px solid #ccc;  
  border-radius: 10px;      
  font-size: 18px;          
  font-weight: bold;       
  cursor: pointer;         
  text-align: center;       
  
  transition: background-color 0.3s ease; 
}

.option-button:hover {
  background-color: #ddd;
}
.diet-info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  opacity: 0.7;
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin-top: 20px;

}
.diet-info-box .diet-restrictions-box, .diet-info-box .height-weight-preferences {
  width: 100%;
}


.diet-restrictions-box {
  flex: 1; 
  padding-right: 20px;

}

.diet-restrictions-box h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.height-weight-preferences {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}
.height-dropdown, .weight-dropdown {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}


.height-box, .weight-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.other-input, .location-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.preferences-box h3 {
  font-size: 20px;
  font-weight: bold;
  
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-list label {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px; 
}

.checkbox-list input {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.prepare-meal-text34, .prepare-meal-text33, .optional {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.location-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.prepare-meal-input {
  border-radius: 20px;
  background: #ffffff;
  width: 100%;
  max-width: 800px; 
  min-height: 800px;
  padding: 30px; 
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px; 
  opacity: 0.7;;
}

.side-by-side-boxes {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  gap: 20px;
}

.main-result-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 1000px;
  max-width: 100%; 
  margin: 0 auto;
  align-items: center; 
  justify-content: center; 
}

.right-side-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start; 
}

.location-input-box {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.location-output-box {
  opacity: 0.7;;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  width: 100%;
  min-height: 660px; 
}
.location-output-box .output-content {
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  overflow-y: auto;
  max-height: 600px; 
}

.prepare-meal-input-text {
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}

.generate-button {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 40px; 
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  opacity: 0.7;;
  margin-top: 0px; 
  width: 100%;
}

.generate-button:hover {
  background-color: lightgray;
}

.send-email-button {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 15px; 
  width: 100%; 
}

.send-email-button:hover {
  background-color: lightgray;
}

.send-email-button-text, .generate-button-text {
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 768px) {
  
  .diet-info-box {
    flex-direction: column; 
    align-items: center;
  }

  .diet-restrictions-box, .height-weight-preferences {
    width: 100%;
    padding: 0;
  }

  .prepare-meal-input-rectangle4,
  .prepare-meal-input {
    width: 100%;
  }


  .prepare-meal-text38 {
    font-size: 16px;
  }

  .side-by-side-boxes {
    flex-direction: column; 
  }

  .main-result-box, .right-side-container {
    width: 100%;
  }

}



.option-button:hover,.prepare-meal-input-rectangle4:hover{

  opacity: 0.8;
  transform: scale(1.02);
  transition: transform 0.3s ease, opacity 0.3s ease;

}.generate-button:hover {
  opacity: 0.8;
  transform: scale(1.02);
  transition: transform 0.3s ease, opacity 0.3s ease;
}